/* メインコンテンツの調整 */
body {
  /* margin-left: 220px; サイドバーの幅分余白を確保 */
  font-family: Arial, sans-serif;
}

/*TOC（目次）*/
#TOC {
  font-size: 14px;  /* フォントサイズを変更 */
  color: #18bc9c;  /* テキストの色を変更 */
}

/* 現在のTOC項目をハイライト */
#TOC a.active {
  background-color: #f0f4ff;  /* 背景色 */
  color: #1a3d7c;             /* テキスト色 */
  font-weight: bold;
  border-radius: 6px;
  padding-left: 28px; /* アイコン分の余白 */
  position: relative;
}


/* アイコンを擬似要素で追加 */
/*
#TOC a.active::before {
  content: "";
  background-image: url("static/image/brant_icon.jpg"); 
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}
*/

/*favicon*/
.favicon {
  width: 32px;
  height: 32px;
}

.header-logo {
  height: 50px; /* 適宜調整 */
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

/*revealjsスライドの時だけ、画像のオプションを変更*/
.reveal img {
  max-width: 100%;
  height: auto;
}

/* 通常のHTMLの画像オプション */
body:not(.reveal-viewport) img {
  width: 100%;
  height: auto;
}