/* サイドバーのスタイル */
/*
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #18bc9c;
  display: block;
}

.sidebar a:hover {
  background-color: #575757;
}
*/

/* メインコンテンツの調整 */
body {
  margin-left: 220px; /* サイドバーの幅分余白を確保 */
  font-family: Arial, sans-serif;
}

/*TOC（目次）*/
#TOC {
  font-size: 14px;  /* フォントサイズを変更 */
  color: #18bc9c;  /* テキストの色を変更 */
}

/*favicon*/
.favicon {
  width: 32px;
  height: 32px;
}

.header-logo {
  height: 50px; /* 適宜調整 */
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

/* ダークモード時のスタイル設定 */
[data-theme="dark"] body {
  color: #f8f9fa;  /* ライトグレーのテキスト色 */
  background-color: #343a40;  /* ダークな背景色 */
}

/* 必要に応じて他の要素も設定 */
[data-theme="dark"] a {
  color: #8bb9fe;  /* ダークモード時のリンク色 */
}

[data-theme="dark"] h1, [data-theme="dark"] h2, [data-theme="dark"] h3 {
  color: #fff;  /* ダークモード時の見出し色 */
}

/*revealjsスライドの時だけ、画像のオプションを変更*/
.reveal img {
  max-width: 100%;
  height: auto;
}

/* 通常のHTMLの画像オプション */
body:not(.reveal-viewport) img {
  width: 100%;
  height: auto;
}